*main{
    color: blue;
}

.main{
    color: brown;
    position: absolute;
}
.p{
    color: black;
    background: fixed;

}
.css{
    background: url(download.png);
    color: brown;
}

.info{
    background: url(1.jpg);
    color: black;
    background-color: aqua;
}